.divImg{
    display: flex;
    justify-content: center;
}
.imgDiv{
    height: 8rem;
    width: 8rem;
}
.btnAniadirVenta{
    display: flex;
    justify-content: center;
    
}

/* Header Index */
.headerIndex{
    box-shadow: 0 1px 5px black;
}

.tituloHeader{
    padding-top: 15px;
}

.listaMenus{
    display: flex;
    list-style: none;
    gap: 7%;
    justify-content: end;
}

/* Modal Reserva y venta*/

.modalReservaBody{
    display: flex;
    justify-content: center;
}
.btnAniadirVenta{
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 5px black;
}

/* Footer index */
.btnConsulta{
    display: flex;
    justify-content: end;
    list-style: none;
    margin-right: 30%;
    gap: 7%;
}

/* .carousel-item{
    height: 30rem;
    background: rgb(41, 190, 216);
} */

.bodyRegister{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: grey;
    min-height: 90vh;
}

.formRegister{
    display: flex;
    flex-direction: column;
    background-color: white;
    text-align: center;
    padding: 20px;
    box-shadow: 0 5px 10px black;
}

.btnRegister{
    margin-top: 10px;
}